<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="thu1" connectionString="Data Source=DESKTOP-4OLQIDQ\MAYAO;Initial Catalog=thu1;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Thithu.Properties.Settings.TypingTestConnectionString"
   connectionString="Data Source=DESKTOP-4OLQIDQ\MAYAO;Initial Catalog=TypingTest;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>